@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Blinker", sans-serif;
}
header {
  background-image: url("../image/bg.jpg");
  background-size: cover;
  /* dark mode
   background: rgb(255,131,3);
  background: linear-gradient(180deg, rgba(255,131,3,1) 0%, rgba(0,0,0,1) 99%); 
  */
}
.navigasi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}
.navigasi p {
  color: #fff;
}
.logo {
  text-decoration: none;
  font-size: 2em;
  color: #fff;
}

a:hover {
  color: rgb(25, 238, 227);
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  padding: 0 10px;
}
nav > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 1.25em;
}
.jumbotron {
  height: 60vh;
  display: flex;
}
.jumbotron h1 {
  margin: auto;
  text-align: center;
  font-size: 50px;
  color: #fff;
}
#content {
  float: left;
  width: 75%;
  padding: 10px 20px 10px 50px;
}
aside {
  float: right;
  width: 25%;
  height: 1950px;
  padding-right: 50px;
}
.profile {
  position: sticky !important;
  top: 0;
  left: 0;
}
figure {
  background-color: #fff;
  text-align: center;
  margin-top: 25px;
}
.profile-photo {
  width: 200px;
  border-radius: 50%;
}
.search {
  width: 100%;
  display: block;
}
.search input {
  border-radius: 50px;
  border: 2px solid #00bea9;
  width: 300px;
  padding: 5px;
  font-family: "Blinker", sans-serif;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 30px;
  margin-top: 20px;
}
.article-title {
  color: #00bea9;
}
.name {
  color: #00bea9;
}
article > p {
  font-size: 1.25em;
}
.article-image {
  margin-top: 10px;
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
}
.read-more {
  color: #00bea9;
  font-size: 1.25em;
  text-decoration: none;
  margin-top: 30px;
}
section p {
  text-align: center;
  margin-top: 10px;
  font-size: 1.05em;
}
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  color: white;
  background-color: #00bea9;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}
.footer-round {
  display: flex;
  margin-top: 10px;
  width: 100%px;
  height: 50px;
  justify-content: center;

  flex-grow: 1;
}
.round {
  margin-right: 10px;
  width: 50px;
  background-color: #fff;
  border-radius: 50%;
}
@media (max-width: 766px) {
  nav {
    display: none;
  }
  #content,
  aside {
    width: 100%;
    padding: 20px;
  }
  aside {
    height: 30%;
  }
  .search input {
    width: 100%;
  }
  .profile-photo {
    width: 200px;
  }
}
@media (max-width: 1100px) {
  .profile-photo {
    width: 130px;
  }
}
@media (max-width: 866px) {
  .profile-photo {
    width: 100px;
  }
}
